{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Modifier mot de passe</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="auth-container">
    <h2>Modifier votre mot de passe</h2>

    <form method="post" action="{% url 'password_change' %}"> 
      {% csrf_token %}
      {{ form.old_password.label_tag }}
      {{ form.old_password }}

      {{ form.new_password1.label_tag }}
      {{ form.new_password1 }}

      {{ form.new_password2.label_tag }}
      {{ form.new_password2 }}

      {% if form.non_field_errors %}
        <div class="error">{{ form.non_field_errors }}</div>
      {% endif %}

      {% if form.old_password.errors %}
        <div class="error">{{ form.old_password.errors }}</div>
      {% endif %}

      {% if form.new_password1.errors %}
        <div class="error">{{ form.new_password1.errors }}</div>
      {% endif %}

      {% if form.new_password2.errors %}
        <div class="error">{{ form.new_password2.errors }}</div>
      {% endif %}
      <button type="submit">Changer</button>
    </form>
    <div class="form-group form-footer">
      <p>Vous pouvez aussi <a href="{% url 'password_reset' %}">réinitialiser votre mot de passe</a> si vous l'avez oublié.</p>

</body>
</html>
