{% load static %}
<!DOCTYPE html>
<html lang="fr"> 
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vérifier votre mot de passe</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

  <div class="auth-container">
    <h2>Vérifier votre mot de passe</h2>
    <form id="loginForm" action="{% url 'verify_password' %}" method="POST">
      {% csrf_token %}
        {{ form.password.label_tag }}
        {{ form.password }}
        {% if form.non_field_errors %}
            <div class="error">{{ form.non_field_errors }}</div>
        {% endif %}
        {% if form.non_field_messages %}
            <div class="error">{{ form.non_field_messages }}</div>
        {% endif %}
      {% if form.password.errors %}
        <div class="error">{{ form.password.errors }}</div>
      {% endif %}
      <button type="submit">Suivant</button>
      <div class="form-group form-footer">
      </div>
    </form>
  </div>
</body>
</html>
